<!DOCTYPE html>
<html lang="ko">
    <head>
        <!-- Webpage Title -->
        <title>Hair Here! 프로젝트</title>

        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <!-- 쿠키 사용을 위한 Jquery-cookie 임포트 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>


        <!--구글폰트-->
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap"
              rel="stylesheet">

        <!--        반응형 웹-->

         <meta name="viewport" content="width=640, user-scalable=yes">

        <style>

            .wrap {
                font-family: 'Nanum Gothic', sans-serif;
                font-family: 'Nanum Myeongjo', serif;
                min-width: 980px;
            }


            .header {
                overflow: auto;
            }


            .btn-group {
                float: right;
                margin-right: 100px;
                margin-top: 50px;

            }


            .title-font {
                white-space: nowrap;
                text-align: center;
                float: left;
                margin-left: 100px;
                margin-top: 20px;


            }


            #post-box {

                width: 400px;
                height: 450px;
                border: gray solid;
                padding: 10px;
                border-radius: 10px;
                margin: 30px auto;
            }


            #cards-box {
               margin: 30px auto ;
                width: 1000px;



            }

            .card {
                width: 300px;
                height: 300px;
                background-color: palegoldenrod;


            }


        </style>

        <script>

            $(document).ready(function () {

                    showReview();

                    if ($.cookie('mytoken')) {
                        $("#post-box").show();

                    } else {
                        alert('리뷰를 남기려면 로그인부터 해주세요');
                        $("#post-box").hide();

                    }
                }
            );


            function postReview() {


                let hairShop = $('#post-shop').val();
                let hairStyle = $('#post-style').val();
                let hairDate = $('#post-date').val();
                let hairComment = $('#post-comment').val();

                $.ajax({
                    type: "POST",
                    url: "/review",
                    data: {
                        'shop': hairShop,
                        'style': hairStyle,
                        'date': hairDate,
                        'comment': hairComment,
                        'token_give': $.cookie('mytoken')
                    },
                    success: function (response) {
                        if (response["result"] == "success") {
                            location.reload();

                        }
                    }
                });

            }


            function showReview() {

                $('#cards-box').empty();

                $.ajax({
                    type: "GET",
                    url: "/review",
                    data: {},
                    success: function (response) {
                        if (response["result"] == "success") {

                            let memos = response['comments'];

                            for (let i = 0; i < memos.length; i++) {
                                let hairShop = memos[i]['shop'];
                                let hairStyle = memos[i]['style'];
                                let hairDate = memos[i]['date'];
                                let hairComment = memos[i]['comment'];
                                let hairLike = memos[i]['like'];
                                let hairHate = memos[i]['hate'];
                                let hairuser = memos[i]['user'];


                                let tempHtml = `<div class="card">
  <div class="card-header">
    ${hairuser}의 글
  </div>
  <div class="card-body">
    <h3 class="card-title">${hairShop}</h3>
    <h4 class="card-title">${hairStyle}</h4>
    <h4 class="card-title">${hairDate}</h4>
    <p class="card-text">${hairComment}</p>
                   <a href="#" onclick="likePost('${hairShop}')" class="card-footer-item has-text-info">
                        좋아요! ${hairLike}
                        <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
                    </a>
                      <a href="#" onclick="hatePost('${hairShop}')" class="card-footer-item has-text-info">
                        싫어요! ${hairHate}
                        <span class="icon">
              <i class="fas fa-thumbs-up"></i>
            </span>
                    </a>


  </div>
</div>`

                                $('#cards-box').append(tempHtml);

                            }

                        }
                    }
                });
            }

            function likePost(shopName) {

                $.ajax({
                    type: 'POST',
                    url: '/api/like',
                    data: {'shop_give': shopName},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();

                        }
                    }
                });
            }

            function hatePost(shopName) {

                $.ajax({
                    type: 'POST',
                    url: '/api/hate',
                    data: {'shop_give': shopName},
                    success: function (response) {
                        if (response['result'] == 'success') {
                            window.location.reload();

                        }
                    }
                });
            }


        </script>


    </head>
    <body >

        <div class="wrap">
            <div class="header">
                <div class="title-font">
                    <h1 style="color:black;font-size:50px;text-shadow:3px 3px 10px gray"> Hair Here </h1>
                    <h5>당신을 위한 헤어 스타일링</h5>
                </div>

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" onclick="location.href='/'">HairHome</button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/get_shop'">HairShop
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/get_style'">HairStyle
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/get_review'">HairReview
                    </button>
                    <button type="button" class="btn btn-secondary" onclick="location.href='/login'">HairUser</button>
                </div>
            </div>
            <div id="post-box" class="form-post">

                <div class="form-group">
                    <label for="post-shop">헤어샵</label>
                    <input id="post-shop" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="post-style">헤어스타일</label>
                    <input id="post-style" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="post-date">날짜</label>
                    <input id="post-date" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="post-comment">간단 코멘트</label>
                    <textarea id="post-comment" class="form-control" rows="2"></textarea>
                </div>
                <button type="button" class="btn btn-primary" onclick="postReview()">저장하기</button>

            </div>

            <div id="cards-box" class="card-columns">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <h5 class="card-title"></h5>
                        <h5 class="card-title"></h5>
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>

                    </div>

                </div>

            </div>


        </div>

    </body>
</html>

